W1/data
W2/data
W2/yolo
W3/data
W4/data
W4/data_original
W5/data
W6/data
W6/wandb
W6/results
W6/weights
W7/data
W7/wandb
W7/results
W7/weights

# .pt files
*.pt
# .gif files
*.gif

# Python .gitignore
__pycache__/
*.py[cod]
/W7/scripts/content_for_GIFs
